In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(executable_path="D:\\chromedriver_win32\\chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc = driver .find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [5]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [6]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [7]:
driver.get(url)

In [8]:
job_titles = []
company_names=[]
location_lists=[]
fulljob_description=[]

In [9]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="3ddaef9f-36a6-4d9b-a071-a314fca66d9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="08db1a72-14bf-4cc0-a9f9-237cd5950ded")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="22072fab-d69d-4b0d-808d-1c646f38dec2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="921dcd9b-e349-4447-b0e5-8d6fb7c581e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="7c553659-06c3-4b4e-b3cf-12e9ee86f5c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="a0750b5c-9354-4057-a709-a786419b0b07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="659be797-a17a-473e-8194-58f3d58fa786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="bcce4fd0-ac22-44c1-90e7-90221091e65a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="871fd6f9-9e57-43cd-81b7-a6e96e4996b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="0612bf62-0f85-40f9-8ac2-182e99d3b382")>]

In [10]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Scientist',
 'Data Scientist - C3 Developer',
 'Principal Data Scientist - Product Development Firm',
 'Senior Data Scientist',
 'Data Scientist- NIIT ltd.',
 'Data Scientist - AI ML Team',
 'Data Scientist - Algorithm/ Machine Learning',
 'Senior Data Scientist',
 'Data Scientist - KPO - IIT/NIT/BITS',
 'Staff Data Scientist (MINT)']

In [11]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="d053317a-91be-41e8-89b5-37d7906fccbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="c210a0c4-681a-48b9-9299-9d4c5e1b769b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="33062c0d-aabc-47cb-96fa-e527fbaa98c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="136baf4f-01ff-4515-ac2a-8f1f5cf966a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="cad8a3e1-af81-4f93-89bf-18f8c544b2cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="d02655c9-c79c-42c9-84cc-9c4494b56760")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="c9406a47-fabd-4745-a89a-682407f24307")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="4dacb1da-eabc-4354-a244-84c8d2268d26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="9ac7f097-6026-4276-9837-7b18e623873d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="36c77faf-6309-43f7-adcb-9cd1e200ecf7")>]

In [12]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Fractal Analytics',
 'Shell India Markets Private Limited',
 'hCapital Executive Search',
 'Avom Consultants',
 'NIIT Ltd.',
 'CustomerXPs Software Pvt Ltd',
 'Ally -eXecutive HR Consulting Partner',
 'ExecBoardinAsia',
 'TalentCo Search Pvt Ltd',
 'Walmart Labs']

In [13]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="5a0702af-fb5a-40b4-8d76-d3ed3fb8f960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="56206e2f-47c1-47d8-a0b7-3659a94a1e10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="d7cb01ae-b56a-4158-be29-0ef71a56a777")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="a7880a41-8b48-406c-86cd-5a407ca9b631")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="170468e6-38ac-48b3-8df1-4dc925b408e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="8ae9a006-06c7-4b25-9c94-94f965e03fb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="6aa4bb0f-6a24-4eb2-9248-4fd683981bee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="e0e4d2f3-4f59-4f81-b9a7-e8fa2bb7e7c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="01ff94c7-a71b-47ff-b5be-b573aacec823")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="62127fc0-ca28-4507-ae43-0f0736eccec1")>]

In [14]:
for i in location_tags:
    location_list=i.text
    location_lists.append(location_list)
location_lists[0:10]

['Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru, Delhi NCR',
 'Bangalore/Bengaluru']

In [17]:
description_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
description_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="95e74a13-77d8-4283-ad25-4349c1e987c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="2179d76b-dc1d-4b98-a378-9199c0c3efd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="edf99557-3e25-4746-be6d-2c99818d6e98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="2e9278b4-ebd3-4781-9950-d50ad05bedc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="300ce99f-c0ba-42bf-9b7d-9aa6d947ad73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="43f12d57-084c-4bfd-b48e-dd12af3f46a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="30c56bb1-30f4-4688-b544-b2968e5d3663")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="9b4bee90-ac6d-4d68-8742-6d1cb927e922")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="6eee1af8-6fca-4257-bb4f-2d510dbaff36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12beeab09ac3dddc046bab018930589d", element="feceb932-77c0-4b94-bfdc-ecc21b135086")>]

In [20]:
for i in description_tags:
    job_description=i.text
    fulljob_description.append(job_description)
fulljob_description[0:10]

['To succeed in this role, you should possess outstanding skills in statistical analysis,...',
 'The RolePotential candidate will be working on cutting edge production platform as an i...',
 'Principal Data Scientist - Product Development FirmAbout the opportunity :The client is...',
 'Data Scientist with relevant experience in Python/R/Spark/Tableau can apply.',
 'NIIT is looking for Data Scientist for Bangalore location.Job Location - HSR layout , B...',
 'Must have built 2-3 end to end ML projects in the past;Your Skills: Must have 3 8 years...',
 'Bachelors degree in a quantitative discipline (e.g., Statistics, Economics, Mathematics...',
 'To Contribute to model generation and model monitoring frame workl To contribute to Com...',
 'Experience Required: - BTech / MTech in Computer Science / Mathematics / Signal Process...',
 'Your Opportunity To fulfill the charter of MINT, there is need for top notch talent in ...']

In [23]:
print(len(job_titles), len(company_names), len(location_lists), len(fulljob_description))

20 20 20 20

In [25]:
jobs=pd.DataFrame({})
jobs['job_title']=job_titles[:10]
jobs['company_names']=company_names[:10]
jobs['location_list']=location_lists[:10]
jobs['job_description']=fulljob_description[:10]

In [26]:
jobs

,job_title,company_names,location_list,job_description
0,Data Scientist,Fractal Analytics,Bangalore/Bengaluru,"To succeed in this role, you should possess ou..."
1,Data Scientist - C3 Developer,Shell India Markets Private Limited,"Chennai, Bangalore/Bengaluru",The RolePotential candidate will be working on...
2,Principal Data Scientist - Product Development...,hCapital Executive Search,Bangalore,Principal Data Scientist - Product Development...
3,Senior Data Scientist,Avom Consultants,"Pune, Bangalore/Bengaluru, Delhi / NCR",Data Scientist with relevant experience in Pyt...
4,Data Scientist- NIIT ltd.,NIIT Ltd.,Bangalore/Bengaluru,NIIT is looking for Data Scientist for Bangalo...
5,Data Scientist - AI ML Team,CustomerXPs Software Pvt Ltd,Bangalore/Bengaluru,Must have built 2-3 end to end ML projects in ...
6,Data Scientist - Algorithm/ Machine Learning,Ally -eXecutive HR Consulting Partner,Bangalore/Bengaluru,Bachelors degree in a quantitative discipline ...
7,Senior Data Scientist,ExecBoardinAsia,Bangalore/Bengaluru,To Contribute to model generation and model mo...
8,Data Scientist - KPO - IIT/NIT/BITS,TalentCo Search Pvt Ltd,"Mumbai, Bangalore/Bengaluru, Delhi NCR",Experience Required: - BTech / MTech in Comput...
9,Staff Data Scientist (MINT),Walmart Labs,Bangalore/Bengaluru,Your Opportunity To fulfill the charter of MIN...

In [27]:
import pickle
filename= 'Selenium AssignmentQ2.pkl'
pickle.dump(jobs,open(filename,'wb'))